
.board {
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
}

.right-border {
  border-right: 0.2em solid #0074a6;
}

.bottom-border {
  border-bottom: 0.2em solid #0074a6;
}

.x-hover:hover::after {
  content: "X";
  opacity: 0.2;
}

.o-hover:hover::after {
  content: "O";
  opacity: 0.2;
}

.strike-row-1 {
  width: 100%;
  height: 4px;
  top: 15%;
}
.strike-row-2 {
  width: 100%;
  height: 4px;
  top: 48%;
}
.strike-row-3 {
  width: 100%;
  height: 4px;
  top: 83%;
}
.strike-col-1 {
  height: 100%;
  width: 4px;
  left: 30%;
}
.strike-col-2 {
  height: 100%;
  width: 4px;
  left: 49%;
}
.strike-col-3 {
  height: 100%;
  width: 4px;
  left: 69%;
}
.strike-diag-1 {
  width: 90%;
  height: 4px;
  top: 50%;
  left: 6%;
  transform: skewY(45deg);
}
.strike-diag-2 {
  width: 90%;
  height: 4px;
  top: 50%;
  left: 4%;
  transform: skewY(-45deg);
}